#contents {
    background-color: #e9e4de;
    h2 {
        img {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .container {
        padding-top: 45px;
        padding-bottom: 75px;
        img {
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

@media screen and (max-width:670px) {
    #contents {
        h2 {
            img {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                }
            }
        }
        .container {
            padding-top: 20px;
            padding-bottom: 30px;
            img {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                }
            }
        }
    }
}