.cta {
    background-image: url(../img/cta-bg-pc.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 33.82vw;
    .container {
        a {
            &:hover {
                opacity: 1;
            }
            .btn {
                animation: anime1 1.0s ease 0s infinite alternate;
                transform-origin: center;
                margin-top: 17.57vw;
                &:hover {
                    filter: brightness(120%);
                }
                &:nth-child(2) {
                    display: none;
                }
            }
        }
    }
}

@media screen and ( max-width:670px) {
    .cta {
        background-image: url(../img/cta-bg-sp.png);
        height: 65.96vw;
        .container {
            a {
                .btn {
                    margin-top: 26vw;
                    &:nth-child(1) {
                        display: none;
                    }
                    &:nth-child(2) {
                        display: inline-block;
                    }
                }
            }
        }
    }
}

@keyframes anime1 {
    from {
        transform: scale(0.95, 0.95);
    }
    to {
        transform: scale(1, 1);
    }
}