header {
    position: relative;
    h1 {
        background-color: #ed1e79;
        img {
            width: unset;
            &:nth-child(1) {
                display: block;
                margin: 0 auto;
                padding: 25px 0;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

@media screen and ( max-width:670px) {
    header {
        h1 {
            img {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                    margin: 0 auto;
                    padding: 5px 0;
                }
            }
        }
    }
}