.legal {
    ul {
        width: 84%;
        margin: 110px auto 0;
        padding-bottom: 50px;
        li {
            margin-bottom: 45px;
            h3 {
                line-height: 1.0;
                font-size: 49px;
            }
            p {
                font-size: 42px;
                line-height: 1.25;
            }
        }
    }
}

@media screen and ( max-width:670px) {
    .legal {
        ul {
            width: 85%;
            margin: 35px auto 0;
            padding-bottom: 0px;
            li {
                margin-bottom: 18px;
                h3 {
                    line-height: 0.9;
                    font-size: 14px;
                }
                p {
                    font-size: 12px;
                    transform: translateY(0px);
                }
            }
        }
    }
}