#reviews {
    h2 {
        img {
            &:nth-child(2) {
                display: none;
            }
        }
    }
    .reviews-contents {
        img {
            &:nth-child(1) {
                display: block;
                width: 76.4%;
                margin: 0 auto;
                padding-top: 180px;
                padding-bottom: 163px;
            }
            &:nth-child(2) {
                display: none;
            }
        }
    }
}

@media screen and (max-width:670px) {
    #reviews {
        h2 {
            img {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                }
            }
        }
        .reviews-contents {
            img {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    display: block;
                    padding-top: 47px;
                    padding-bottom: 80px;
                    width: 75%;
                    margin: 0 auto;
                }
            }
        }
    }
}