body,
h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

body {
  font-family: a-otf-ryumin-pr6n, serif;
}

li {
  list-style: none;
}

a {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

a:hover {
  opacity: 0.7;
}

img {
  width: 100%;
  vertical-align: middle;
}

.sp-br {
  display: none;
}

@media (max-width: 760px) {
  .sp-br {
    display: block;
  }
}

header {
  height: 7.847222vw;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 1.94444vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 99;
  background-color: white;
  font-family: a-otf-gothic-mb101-pr6n, sans-serif;
}

header .header-logo {
  width: 24%;
}

header .header-logo img {
  height: 7.847222vw;
  -o-object-fit: contain;
     object-fit: contain;
}

header .header-oparation {
  width: 23%;
  font-size: 0.972222vw;
  margin-top: 1.3888889vw;
}

header .header-oparation .header-oparation-hour {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.694444vw;
}

header .header-oparation .header-oparation-hour .header-oparation-hour-heading {
  background-color: #330000;
  color: white;
  border-radius: 10px;
  height: 2.2916vw;
  width: 6.9444vw;
  margin-right: 1vw;
}

header .header-oparation .header-oparation-hour .header-oparation-hour-heading p {
  line-height: 2.2916vw;
  text-align: center;
}

header .header-oparation .header-oparation-hour .header-oparation-hour-text p {
  line-height: 1.1458vw;
}

header .header-oparation .header-oparation-off {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-oparation .header-oparation-off .header-oparation-off-heading {
  background-color: #330000;
  color: white;
  border-radius: 10px;
  height: 2.2916vw;
  width: 6.9444vw;
  margin-right: 1vw;
}

header .header-oparation .header-oparation-off .header-oparation-off-heading p {
  line-height: 2.2916vw;
  text-align: center;
}

header .header-oparation .header-oparation-off .header-oparation-off-text p {
  line-height: 2.2916vw;
}

header .header-tel {
  width: 25%;
  margin-top: 0.694444vw;
}

header .header-tel img {
  display: block;
  width: 90%;
  margin: 0 auto;
}

header .header-tel p {
  font-size: 0.83333vw;
  text-align: center;
}

header .header-mail {
  width: 22%;
  height: 3.979861vw;
  margin-top: 1.94444vw;
}

header .header-mail a {
  height: 3.979861vw;
}

@media (max-width: 760px) {
  header {
    height: 19.2vw;
    position: unset;
  }
  header .header-logo {
    width: 90%;
    margin: 0 auto;
  }
  header .header-logo img {
    height: 19.2vw;
  }
  header .header-oparation {
    display: none;
  }
  header .header-tel {
    display: none;
  }
  header .header-mail {
    display: none;
  }
}

main .FV {
  margin-bottom: 100px;
}

main .FV img:nth-child(2) {
  display: none;
}

@media (max-width: 760px) {
  main .FV {
    margin-bottom: 40px;
  }
  main .FV img:nth-child(1) {
    display: none;
  }
  main .FV img:nth-child(2) {
    display: block;
  }
}

main .cta {
  width: 85.7142%;
  margin: 0 auto;
  position: relative;
}

main .cta .cta-bg {
  width: 104%;
}

main .cta .cta-tel {
  position: absolute;
  top: 63.7%;
  width: 88.5%;
  left: calc(50% - 44.5%);
}

main .cta .cta-mail {
  position: absolute;
  top: 80%;
  width: 88.5%;
  left: calc(50% - 44.5%);
}

main .measures-for-covid {
  margin-top: 120px;
}

main .measures-for-covid img {
  display: block;
  width: 69.583%;
  margin: 0 auto;
}

@media (max-width: 760px) {
  main .measures-for-covid {
    margin-top: 50px;
  }
  main .measures-for-covid img {
    width: 89.6%;
  }
}

main .problem {
  margin-top: 120px;
}

main .problem h2 {
  text-align: center;
  color: #cc3333;
  position: relative;
  font-size: 68px;
}

main .problem h2 span {
  color: black;
  border-bottom: 2px black solid;
  margin-bottom: 5px;
  display: inline-block;
}

main .problem h2::before {
  content: '';
  background-image: url(./img/problem-heading-icon.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 77px;
  height: 62px;
  -webkit-transform: translate(-70px, -30px);
          transform: translate(-70px, -30px);
}

main .problem .problem-content {
  width: 95%;
  margin: 30px auto 0;
}

main .problem .problem-content img:nth-child(2) {
  display: none;
}

main .problem h3 {
  text-align: center;
  background-image: url(./img/solution-heading-bg-pc.png);
  background-size: cover;
  font-size: 56px;
  color: #ffff99;
  padding: 70px 0 90px;
  margin-top: 40px;
}

main .problem .solution {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
}

main .problem .solution img {
  display: block;
  width: 69.4444%;
  margin: 0 auto;
}

main .problem .solution img:nth-child(2) {
  display: none;
}

@media (max-width: 990px) {
  main .problem h2 {
    font-size: 48px;
  }
  main .problem h3 {
    font-size: 45px;
  }
}

@media (max-width: 760px) {
  main .problem {
    margin-top: 80px;
  }
  main .problem h2 {
    font-size: 4.7vw;
  }
  main .problem h2 span {
    margin-bottom: 0;
  }
  main .problem h2::before {
    width: 5.3333vw;
    height: 4.267vw;
    -webkit-transform: translate(-5vw, -1vw);
            transform: translate(-5vw, -1vw);
  }
  main .problem .problem-content {
    margin-top: 15px;
  }
  main .problem .problem-content img:nth-child(1) {
    display: none;
  }
  main .problem .problem-content img:nth-child(2) {
    display: block;
  }
  main .problem h3 {
    font-size: 4.8vw;
    padding: 30px 0 50px;
  }
  main .problem .solution {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  main .problem .solution img {
    width: 89.6%;
  }
  main .problem .solution img:nth-child(1) {
    display: none;
  }
  main .problem .solution img:nth-child(2) {
    display: block;
  }
}

main .works {
  background-image: url(./img/works-bg-pc.png);
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 100px;
}

main .works h2 {
  width: 55.694%;
  margin: 0 auto;
}

main .works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83.33333%;
  margin: 0 auto;
  padding-top: 70px;
}

main .works ul li {
  background-color: white;
  padding: 20px 0px 30px;
  width: 30%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

main .works ul li h3 {
  width: 25%;
  margin: 0 auto;
}

main .works ul li p {
  text-align: center;
  margin: 20px 0;
  font-size: 1.389vw;
  height: 6.25vw;
}

main .works ul li .work-box-main-image {
  width: 80%;
  margin: 0 auto;
}

main .works ul li:nth-child(3) .work-box-main-image {
  width: 71.5%;
}

@media (max-width: 760px) {
  main .works {
    background-image: url(./img/works-bg-sp.png);
    padding-bottom: 50px;
  }
  main .works h2 {
    width: 85%;
  }
  main .works ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .works ul li {
    width: 100%;
    padding: 40px 0 60px;
    margin-bottom: 60px;
  }
  main .works ul li h3 {
    width: 20%;
  }
  main .works ul li p {
    font-size: 5vw;
    height: auto;
    margin: 40px 0;
  }
  main .works ul li .work-box-main-image {
    width: 85%;
  }
  main .works ul li:nth-child(3) .work-box-main-image {
    width: 76%;
  }
}

main .features h2 img:nth-child(2) {
  display: none;
}

main .features .features-content {
  background-image: url(./img/features-bg.png);
  padding-bottom: 100px;
}

main .features .features-content ul {
  width: 83.33333%;
  margin: 0 auto;
}

main .features .features-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 100px;
}

main .features .features-content ul li .features-box-left {
  width: 47%;
}

main .features .features-content ul li .features-box-left h3 {
  width: 97%;
  margin: 0 auto;
}

main .features .features-content ul li .features-box-left .features-main-image {
  margin-top: 30px;
}

main .features .features-content ul li .features-box-right {
  width: 50%;
}

main .features .features-content ul li .features-box-right p {
  font-size: 1.3888889vw;
  font-family: a-otf-gothic-mb101-pr6n, sans-serif;
  font-weight: bold;
}

main .features .features-content ul li .features-box-right p span {
  color: #990000;
}

main .features .features-content ul li:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

@media (max-width: 760px) {
  main .features h2 img:nth-child(1) {
    display: none;
  }
  main .features h2 img:nth-child(2) {
    display: block;
  }
  main .features .features-content {
    background-image: none;
    padding-bottom: 60px;
  }
  main .features .features-content ul li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 60px;
  }
  main .features .features-content ul li .features-box-left {
    width: 100%;
  }
  main .features .features-content ul li .features-box-left .features-main-image {
    margin-top: 20px;
  }
  main .features .features-content ul li .features-box-right {
    width: 97%;
    margin: 0 auto;
  }
  main .features .features-content ul li .features-box-right p {
    font-size: 4.8vw;
    line-height: 1.5;
  }
  main .features .features-content ul li:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .flow {
  padding-bottom: 70px;
}

main .flow h2 img:nth-child(2) {
  display: none;
}

main .flow ul {
  width: 69.44444%;
  margin: 150px auto 0;
}

main .flow ul li .flow-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

main .flow ul li .flow-boxes .flow-box-left {
  width: 30%;
}

main .flow ul li .flow-boxes .flow-box-right {
  width: 60%;
  margin-top: 2.7777778vw;
}

main .flow ul li .flow-boxes .flow-box-right h3 {
  font-size: 3.47222vw;
  color: #990000;
}

main .flow ul li .flow-boxes .flow-box-right h3 img {
  width: 27%;
  vertical-align: text-bottom;
}

main .flow ul li .flow-boxes .flow-box-right h3 span {
  font-size: 4.166667vw;
  margin-left: 1.3888889vw;
}

main .flow ul li .flow-boxes .flow-box-right p {
  font-size: 1.3888889vw;
  margin-top: 2.08333vw;
}

main .flow ul li .down-arrow {
  width: 10%;
  margin: 0 auto 30px;
}

main .flow ul li:nth-child(2n) .flow-boxes {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .flow ul li:nth-child(5) .flow-boxes .flow-box-right {
  width: 63%;
}

main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 3.3vw;
}

main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 img {
  -o-object-fit: contain;
     object-fit: contain;
}

main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 div span {
  margin-left: 0;
}

main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 div span.small {
  font-size: 2.5vw;
}

@media (max-width: 760px) {
  main .flow {
    padding-bottom: 40px;
  }
  main .flow h2 img:nth-child(1) {
    display: none;
  }
  main .flow h2 img:nth-child(2) {
    display: block;
  }
  main .flow ul {
    margin: 60px auto 0;
    width: 84%;
  }
  main .flow ul li .flow-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .flow ul li .flow-boxes .flow-box-left {
    width: 100%;
  }
  main .flow ul li .flow-boxes .flow-box-right {
    width: 100%;
  }
  main .flow ul li .flow-boxes .flow-box-right h3 {
    font-size: 6vw;
  }
  main .flow ul li .flow-boxes .flow-box-right h3 span {
    font-size: 8vw;
    margin-left: 3vw;
  }
  main .flow ul li .flow-boxes .flow-box-right p {
    font-size: 4.8vw;
    margin-top: 5vw;
  }
  main .flow ul li .down-arrow {
    width: 16%;
  }
  main .flow ul li:nth-child(2n) .flow-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .flow ul li:nth-child(5) .flow-boxes .flow-box-right {
    width: 100%;
  }
  main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 {
    font-size: 6vw;
  }
  main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 img {
    width: 28%;
  }
  main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 div span {
    font-size: 8vw;
  }
  main .flow ul li:nth-child(5) .flow-boxes .flow-box-right h3 div span.small {
    font-size: 3.7vw;
  }
}

main .gift {
  margin-top: 150px;
}

main .gift h2 img:nth-child(2) {
  display: none;
}

main .gift .gift-content {
  background-image: url(./img/gift-bg.png);
  padding-bottom: 80px;
}

main .gift .gift-content ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 83.3333%;
  margin: 0 auto;
  padding-top: 50px;
}

main .gift .gift-content ul li {
  width: 29.2%;
  background-color: #ffff99a6;
  border-radius: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
}

main .gift .gift-content ul li .gift-box-heading {
  width: 18%;
  margin: 0 auto 30px;
}

main .gift .gift-content ul li .gift-box-main-image {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

main .gift .gift-content ul li .gift-box-main-image img:nth-child(2) {
  display: none;
}

main .gift .gift-content ul li p {
  width: 86%;
  margin: 3vw auto 0;
  font-size: 1.38889vw;
  font-family: a-otf-gothic-mb101-pr6n, sans-serif;
  line-height: 1.5;
}

main .gift .gift-content ul li .gift-box-bottom-image {
  width: 36%;
  margin: 0 auto;
}

@media (max-width: 760px) {
  main .gift {
    margin-top: 80px;
  }
  main .gift h2 img:nth-child(1) {
    display: none;
  }
  main .gift h2 img:nth-child(2) {
    display: block;
  }
  main .gift .gift-content {
    background-image: none;
    padding-bottom: 0;
  }
  main .gift .gift-content ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .gift .gift-content ul li {
    width: 100%;
    margin-bottom: 50px;
  }
  main .gift .gift-content ul li .gift-box-main-image {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  main .gift .gift-content ul li .gift-box-main-image img:nth-child(1) {
    display: none;
  }
  main .gift .gift-content ul li .gift-box-main-image img:nth-child(2) {
    display: block;
  }
  main .gift .gift-content ul li p {
    margin: 10vw auto 0;
    font-size: 4.58vw;
  }
}

main .faq h2 img:nth-child(2) {
  display: none;
}

main .faq .faq-content {
  width: 69.4%;
  margin: 0 auto;
  padding-bottom: 100px;
  font-family: a-otf-gothic-mb101-pr6n, sans-serif;
}

main .faq .faq-content .question-area {
  margin-bottom: 20px;
  padding-top: 80px;
  padding-bottom: 40px;
}

main .faq .faq-content .question-area .question-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .faq .faq-content .question-area .question-boxes .question-box-left {
  width: 20%;
  text-align: center;
}

main .faq .faq-content .question-area .question-boxes .question-box-left img {
  width: 40%;
}

main .faq .faq-content .question-area .question-boxes .question-box-right {
  width: 75%;
  padding-right: 20px;
}

main .faq .faq-content .question-area .question-boxes .question-box-right p {
  font-size: 35px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

main .faq .faq-content .separator {
  text-align: right;
  margin-bottom: 20px;
}

main .faq .faq-content .separator img {
  width: 87%;
}

main .faq .faq-content .answer-area {
  border-bottom: 1px #a09e9e solid;
  padding-top: 80px;
  padding-bottom: 80px;
}

main .faq .faq-content .answer-area .answer-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .faq .faq-content .answer-area .answer-boxes .answer-box-left {
  width: 20%;
  text-align: center;
}

main .faq .faq-content .answer-area .answer-boxes .answer-box-left img {
  width: 40%;
}

main .faq .faq-content .answer-area .answer-boxes .answer-box-right {
  width: 75%;
  padding-right: 20px;
}

main .faq .faq-content .answer-area .answer-boxes .answer-box-right p {
  font-size: 35px;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
}

@media (max-width: 760px) {
  main .faq h2 img:nth-child(1) {
    display: none;
  }
  main .faq h2 img:nth-child(2) {
    display: block;
  }
  main .faq .faq-content {
    width: 89.3333%;
    padding-bottom: 70px;
  }
  main .faq .faq-content .question-area {
    margin-bottom: 0px;
    padding-top: 40px;
    padding-bottom: 20px;
  }
  main .faq .faq-content .question-area .question-boxes .question-box-right p {
    font-size: 17px;
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  main .faq .faq-content .separator {
    text-align: center;
  }
  main .faq .faq-content .separator img {
    width: 80%;
  }
  main .faq .faq-content .answer-area {
    padding-top: 0;
    padding-bottom: 40px;
  }
  main .faq .faq-content .answer-area .answer-boxes .answer-box-right p {
    font-size: 17px;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

main .profile h2 img:nth-child(2) {
  display: none;
}

main .profile .profile-content {
  background-image: url(./img/profile-bg.png);
  font-family: a-otf-gothic-mb101-pr6n, sans-serif;
}

main .profile .profile-content .profile-content-above {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 69.4444%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px #c0a054 solid;
}

main .profile .profile-content .profile-content-above .profile-content-above-left {
  width: 35%;
}

main .profile .profile-content .profile-content-above .profile-content-above-left img:nth-child(2) {
  display: none;
}

main .profile .profile-content .profile-content-above .profile-content-above-right {
  width: 50%;
  color: #990000;
}

main .profile .profile-content .profile-content-above .profile-content-above-right h3 {
  font-size: 2.7vw;
}

main .profile .profile-content .profile-content-above .profile-content-above-right table {
  font-size: 1.388889vw;
}

main .profile .profile-content .profile-content-above .profile-content-above-right table tr td:nth-child(1) {
  display: block;
  margin-right: 20px;
}

main .profile .profile-content .profile-content-bottom {
  width: 69.4444%;
  margin: 100px auto 0;
}

main .profile .profile-content .profile-content-bottom h3 {
  text-align: center;
  font-size: 2.638889vw;
  color: #990000;
}

main .profile .profile-content .profile-content-bottom p {
  font-size: 1.388889vw;
  padding: 50px 0;
  font-weight: bold;
}

main .profile .profile-content .profile-content-bottom p span {
  color: #990000;
}

@media (max-width: 760px) {
  main .profile h2 img:nth-child(1) {
    display: none;
  }
  main .profile h2 img:nth-child(2) {
    display: block;
  }
  main .profile .profile-content {
    background-image: none;
  }
  main .profile .profile-content .profile-content-above {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    padding-bottom: 30px;
  }
  main .profile .profile-content .profile-content-above .profile-content-above-left {
    width: 90%;
    margin: 0 auto;
  }
  main .profile .profile-content .profile-content-above .profile-content-above-left img:nth-child(1) {
    display: none;
  }
  main .profile .profile-content .profile-content-above .profile-content-above-left img:nth-child(2) {
    display: block;
  }
  main .profile .profile-content .profile-content-above .profile-content-above-right {
    width: 100%;
    margin-top: 30px;
  }
  main .profile .profile-content .profile-content-above .profile-content-above-right h3 {
    font-size: 6.4vw;
    text-align: center;
  }
  main .profile .profile-content .profile-content-above .profile-content-above-right table {
    font-size: 4vw;
  }
  main .profile .profile-content .profile-content-above .profile-content-above-right table tr td:nth-child(1) {
    margin-right: 10px;
  }
  main .profile .profile-content .profile-content-bottom {
    width: 90%;
    margin: 40px auto 0;
  }
  main .profile .profile-content .profile-content-bottom h3 {
    font-size: 6vw;
  }
  main .profile .profile-content .profile-content-bottom p {
    font-size: 4vw;
    padding: 30px 0;
  }
}

main .fixed-area {
  display: none;
}

@media (max-width: 760px) {
  main .fixed-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  main .fixed-area .fixed-tel {
    width: 50%;
  }
  main .fixed-area .fixed-mail {
    width: 50%;
  }
}

footer {
  background-color: #663333;
  padding: 30px 0;
}

footer .footer-line {
  width: 60px;
  margin: 0 auto;
}

@media (max-width: 760px) {
  footer {
    padding: 10px 0;
    margin-bottom: 60px;
  }
  footer .footer-line {
    width: 42px;
  }
}
/*# sourceMappingURL=style.css.map */
