@charset "Shift_JIS";

*,
*::before,
*::after
{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
figure,
blockquote,
dl,
dd
{
    margin: 0;
}

ul,
ol
{
    padding: 0;

    list-style: none;
}

a
{
    text-decoration: none;

    color: inherit;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

img
{
    width: 100%;
}

@media screen and (max-width: 767px)
{
    .u-is-pc
    {
        display: none !important;
    }
}

@media screen and (min-width: 768px)
{
    .u-is-sp
    {
        display: none !important;
    }
}

.u-inner
{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4rem;
}
@media screen and (max-width: 767px)
{
    .u-inner
    {
        width: 500px;
        padding: 0 1rem;
    }
}

.u-tit
{
    font-size: 30px;
    font-weight: 700;
    line-height: .5666666667;

    position: relative;

    padding-bottom: 2.2rem;

    text-align: center;
    letter-spacing: .075em;
}
@media screen and (max-width: 767px)
{
    .u-tit
    {
        font-size: 18px;
        font-weight: 700;
        line-height: .9444444444;

        padding-bottom: 1.5rem;

        letter-spacing: .05em;
    }
}
.u-tit::before
{
    position: absolute;
    bottom: 0;
    left: 50%;

    display: block;

    width: 90px;
    height: 5px;

    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

    background: -webkit-gradient(linear, left top, right top, from(#f70), color-stop(22%, #f70), color-stop(22%, #f5f3f2), to(#f5f3f2));

    background: -webkit-linear-gradient(left, #f70, #f70 22%, #f5f3f2 22%, #f5f3f2 100%);

    background: linear-gradient(to right, #f70, #f70 22%, #f5f3f2 22%, #f5f3f2 100%);
}

.u-txtbox
{
    font-size: 15px;
    font-weight: 500;
    line-height: 0;

    width: 100%;
    padding: .7rem 1rem .6rem;

    letter-spacing: 0;

    color: inherit;
    border: solid 1px #101010;
    border-radius: 2px;
    background-color: transparent;
    background-image: none;

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;
}
.u-txtbox::-webkit-input-placeholder
{
    color: #101010;
}
.u-txtbox::-moz-placeholder
{
    color: #101010;
}
.u-txtbox:-ms-input-placeholder
{
    color: #101010;
}
.u-txtbox::-ms-input-placeholder
{
    color: #101010;
}
.u-txtbox::placeholder
{
    color: #101010;
}

.u-hover
{
    -webkit-transition: .3s opacity ease;
    transition: .3s opacity ease;
}
.u-hover:hover
{
    opacity: .7;
}

.u-hover-zoom
{
    -webkit-transition: .3s opacity ease;
    transition: .3s opacity ease;
}
.u-hover-zoom figure
{
    overflow: hidden;
}
.u-hover-zoom figure img
{
    display: block;

    -webkit-transition: .4s transform ease;

    transition: .4s transform ease;
}
.u-hover-zoom:hover
{
    opacity: .9;
}
.u-hover-zoom:hover figure img
{
    -webkit-transform: scale(1.07, 1.07);
    transform: scale(1.07, 1.07);
}

/* common */
html
{
    font-size: 10px;
}

body
{
    font-family: 'Yu Gothic', '游ゴシック体', yugothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro', 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-size: 1.6rem;

    color: #101010;
}

a
{
    display: block;
}

label
{
    position: relative;
}

main
{
    margin-top: 10rem;
}
@media screen and (min-width: 768px)
{
    main
    {
        margin-top: 10rem;
    }
}
@media (min-width: 1300px)
{
    main
    {
        margin-top: 14rem;
    }
}

/* ------------------------------

  font

------------------------------ */
.f-me
{
    font-family: 'メイリオ', meiryo, 'Yu Gothic', '游ゴシック体', yugothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro', 'MS Pゴシック', 'MS PGothic', sans-serif;
}

.a-right
{
    text-align: right;
}

.a-center
{
    text-align: center;
}

/* common */
.breadcrumbs
{
    margin-bottom: .93em;
}
.breadcrumbs a,
.breadcrumbs span
{
    font-size: .75em;

    display: inline-block;

    color: #ababab;
}
@media screen and (max-width: 767px)
{
    .breadcrumbs a,
    .breadcrumbs span
    {
        font-size: .67em;
    }
}

.category.item_left
{
    width: 220px;
    margin-right: 2%;
}
@media screen and (max-width: 767px)
{
    .category
    {
        display: none;
    }
}

.item_list
{
    font-size: .87em;

    background: #f9f9f9;
}
.item_list p,
.item_list a
{
    padding: .93em 0 1.25em 2.68em;
}
.item_list .ttl
{
    font-size: 2em;
    font-weight: bold;

    padding-left: .8em;

    border-bottom: 1px dashed #d6d6d6;
}
.item_list_top
{
    font-weight: bold;

    position: relative;

    cursor: pointer;
}
.item_list_top span::before,
.item_list_top span::after
{
    position: absolute;
    top: 50%;
    right: 1em;

    width: 10px;
    height: 1.4px;

    content: '';

    background: #3d3d3d;
}
.item_list_top span::after
{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.item_list_top p
{
    position: relative;
}
.item_list_top p.icon::before
{
    position: absolute;
    right: 10px;
    left: 10px;

    display: inline-block;

    width: 24px;
    height: 26px;

    content: '';
}
.item_list_top p.fashion::before
{
    background: url(https://gigaplus.makeshop.jp/hottec/module/icon_fashion.svg) center/contain no-repeat;
}
.item_list_top p.beauty::before
{
    background: url(https://gigaplus.makeshop.jp/hottec/module/icon_beauty.svg) center/contain no-repeat;
}
.item_list_top p.furniture::before
{
    background: url(https://gigaplus.makeshop.jp/hottec/module/icon_furniture.svg) center/contain no-repeat;
}
.item_list_top p.food::before
{
    background: url(https://gigaplus.makeshop.jp/hottec/module/icon_food.svg) center/contain no-repeat;
}
.item_list_top p.gift::before
{
    background: url(https://gigaplus.makeshop.jp/hottec/module/icon_gift.svg) center/contain no-repeat;
}
.item_list_top:not(:nth-last-of-type(1))
{
    border-bottom: 1px dashed #d6d6d6;
}
.item_list_innner
{
    display: none;
}
.item_list_innner a
{
    position: relative;

    border-bottom: 1px dashed #d6d6d6;
}
.item_list_innner a:before,
.item_list_innner a:after
{
    position: absolute;
    right: 1em;

    width: 10px;
    height: 1.4px;

    content: '';

    background: #3d3d3d;
}
.item_list_innner a::before
{
    top: 46%;

    -webkit-transform: rotate(20deg);

    transform: rotate(20deg);
}
.item_list_innner a::after
{
    top: 53%;

    -webkit-transform: rotate(-20deg);

    transform: rotate(-20deg);
}

.data-list__row
{
    font-size: 1.5rem;
    line-height: 1.3;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    letter-spacing: .05em;

    color: #3d3d3d;
}
@media screen and (max-width: 767px)
{
    .data-list__row
    {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.data-list__title
{
    width: 20rem;
    padding: 1.8rem 1.8rem 0 1.8rem;

    background-color: #f9f9f9;
}
@media screen and (max-width: 767px)
{
    .data-list__title
    {
        width: 100%;
        padding: 1rem;
    }
}

.data-list__title:not(:last-child)
{
    padding-bottom: 4.2rem;
}
@media screen and (max-width: 767px)
{
    .data-list__title:not(:last-child)
    {
        padding-bottom: 1rem;
    }
}

.data-list__description
{
    width: calc(100% - 20rem);
    padding: 1.8rem 3rem;
}
@media screen and (max-width: 767px)
{
    .data-list__description
    {
        width: 100%;
        padding: 1rem;
    }
}

.drawer
{
    position: fixed;
    z-index: 1001;
    top: 0;
    left: -67%;

    width: 67%;
    max-width: 400px;
    height: 100vh;
    padding: 0 1rem;

    -webkit-transition: left .3s ease;

    transition: left .3s ease;

    color: #fff;
    background: rgba(57, 57, 57, .9);
}
.drawer._active
{
    left: 0;
}
.drawer__opener
{
    position: absolute;
    z-index: 1000;
    top: 50%;

    display: block;

    padding: 15.5px 6.5px;

    -webkit-transform: translateY(-50%);

    transform: translateY(-50%);

    border-radius: 6px;
    background: #f70;
}
@media (min-width: 1300px)
{
    .drawer__opener
    {
        display: none;
    }
}
@media screen and (min-width: 768px)
{
    .drawer__opener
    {
        right: 3rem;
    }
}
@media screen and (max-width: 767px)
{
    .drawer__opener
    {
        right: 1rem;
    }
}
.drawer__opener span
{
    position: relative;

    display: block;

    width: 21px;
    height: 3px;

    background-color: #fff;
}
.drawer__opener span::before,
.drawer__opener span::after
{
    position: absolute;
    left: 0;

    display: block;

    width: 100%;
    height: 3px;

    content: '';

    background-color: #fff;
}
.drawer__opener span::before
{
    top: -6.5px;
}
.drawer__opener span::after
{
    top: 6.5px;
}
.drawer__closer
{
    position: absolute;
    top: 12.5px;
    right: 12.5px;

    display: block;

    width: 16px;
    height: 16px;

    cursor: pointer;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}
@media screen and (min-width: 768px)
{
    .drawer__closer
    {
        top: 25px;
        right: 25px;

        width: 30px;
    }
}
.drawer__closer::before
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);

    background: #fff;
}
.drawer__closer::after
{
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 100%;
    height: 2px;

    content: '';
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);

    background: #fff;
}
.drawer__login
{
    margin-top: 4rem;
}
@media screen and (min-width: 768px)
{
    .drawer__login
    {
        margin-top: 8rem;
    }
}
.drawer__login a
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;

    position: relative;

    padding: 1.2rem 0;
    padding-left: 2rem;

    letter-spacing: 0;
}
@media screen and (min-width: 768px)
{
    .drawer__login a
    {
        font-size: 24px;
        font-weight: 400;
        line-height: .75;

        padding-left: 3rem;

        letter-spacing: 0;
    }
}
.drawer__login a::after
{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;

    display: block;

    width: 16px;
    height: 16px;

    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    background: url(https://gigaplus.makeshop.jp/hottec/module/drawer_ico_1.svg) center/contain no-repeat;
}
@media screen and (min-width: 768px)
{
    .drawer__login a::after
    {
        width: 24px;
        height: 24px;
    }
}
.drawer-nav__tit
{
    font-size: 17px;
    font-weight: 400;
    line-height: 1.1764705882;

    margin-bottom: .5rem;

    letter-spacing: 0;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__tit
    {
        font-size: 26px;
        font-weight: 400;
        line-height: .6923076923;

        margin-bottom: 2rem;

        letter-spacing: 0;
    }
}
.drawer-nav__list:first-child
{
    margin-bottom: 5.6rem;
}
.drawer-nav__link
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.2;

    position: relative;

    padding: 1.3rem 0;

    letter-spacing: 0;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__link
    {
        font-size: 24px;
        font-weight: 400;
        line-height: .75;

        padding: 2rem 0;

        letter-spacing: 0;
    }
}
.drawer-nav__link::before
{
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 1px;

    content: '';

    background: url(https://gigaplus.makeshop.jp/hottec/module/drawer_border.svg) center/cover no-repeat;
}
.drawer-nav__link::after
{
    position: absolute;
    top: 50%;
    bottom: 0;
    left: 0;

    display: block;

    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.drawer-nav__link._search
{
    padding-left: 3rem;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__link._search
    {
        padding-left: 4rem;
    }
}
.drawer-nav__link._search::after
{
    width: 16px;
    height: 16px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/drawer_ico_2.svg) center/contain no-repeat;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__link._search::after
    {
        width: 24px;
        height: 24px;
    }
}
.drawer-nav__link._category
{
    padding-left: 3rem;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__link._category
    {
        padding-left: 4rem;
    }
}
.drawer-nav__link._category::after
{
    width: 20px;
    height: 17px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/drawer_ico_3.svg) center/contain no-repeat;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__link._category::after
    {
        width: 28px;
        height: 25px;
    }
}
.drawer-nav__link._shop
{
    padding-left: 3rem;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__link._shop
    {
        padding-left: 4rem;
    }
}
.drawer-nav__link._shop::after
{
    width: 19px;
    height: 17px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/drawer_ico_4.svg) center/contain no-repeat;
}
@media screen and (min-width: 768px)
{
    .drawer-nav__link._shop::after
    {
        width: 27px;
        height: 25px;
    }
}

.footer
{
    padding: 6.3rem 0 3rem;

    background: #f9f9f9;
}
@media screen and (max-width: 767px)
{
    .footer
    {
        padding: 4.2rem 0 3.2rem;
    }
}
.footer__inner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.footer__container
{
    width: 50%;
}
@media (max-width: 950px)
{
    .footer__container
    {
        width: 100%;
    }
}
@media (max-width: 950px)
{
    .footer__container:first-child
    {
        margin-bottom: 4.2rem;
    }
}
.footer__dlist
{
    max-width: 388px;
}
@media (max-width: 950px)
{
    .footer__dlist
    {
        margin: 0 auto;
    }
}
.footer__dtit
{
    font-size: 20px;
    font-weight: 700;
    line-height: .85;

    margin-bottom: 2rem;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .footer__dtit
    {
        font-size: 15px;
        font-weight: 700;
        line-height: 1.1333333333;

        margin-bottom: .9rem;

        letter-spacing: .05em;
    }
}
.footer__data
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4666666667;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .footer__data
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3846153846;

        letter-spacing: .05em;
    }
}
.footer__data:not(:last-child)
{
    margin-bottom: 3rem;
}
@media screen and (max-width: 767px)
{
    .footer__data:not(:last-child)
    {
        margin-bottom: 2.2rem;
    }
}
.footer__logo
{
    max-width: 146px;
    margin: 0 auto 2rem;
}
@media screen and (max-width: 767px)
{
    .footer__logo
    {
        max-width: 107px;
    }
}
.footer__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin-right: 1rem;
    margin-bottom: 4.95rem;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

    -ms-flex-pack: center;

    justify-content: center;
}
@media screen and (max-width: 767px)
{
    .footer__list
    {
        margin-right: 0;
        margin-bottom: 2.1rem;
    }
}
.footer__item:first-child
{
    margin-right: 3.6rem;
}
@media screen and (max-width: 767px)
{
    .footer__item:first-child
    {
        margin-right: 3rem;
    }
}
.footer__item:first-child a::before
{
    background: url(https://gigaplus.makeshop.jp/hottec/module/facebook_ico.svg) center/contain no-repeat;
}
.footer__item:last-child a::before
{
    background: url(https://gigaplus.makeshop.jp/hottec/module/instagram_ico.svg) center/contain no-repeat;
}
.footer__item a::before
{
    display: block;

    width: 59px;
    height: 59px;

    content: '';
}
.footer__txt
{
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3076923077;

    width: 100%;
    margin-top: 2rem;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .footer__txt
    {
        margin-top: 4rem;

        text-align: center;
    }
}
.footer-nav__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

    -ms-flex-pack: center;

    justify-content: center;
}
.footer-nav__list:first-child
{
    margin-bottom: .5rem;
}
@media screen and (max-width: 767px)
{
    .footer-nav__list:first-child
    {
        margin-bottom: .2rem;
    }
}
.footer-nav__item a
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1333333333;

    padding: .5rem;

    letter-spacing: .05em;

    color: #3d3d3d;
}
@media screen and (max-width: 767px)
{
    .footer-nav__item a
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3076923077;

        letter-spacing: .05em;
    }
}
@media (max-width: 374px)
{
    .footer-nav__item a
    {
        font-size: 10px;
        font-weight: 400;
        line-height: 1.7;

        letter-spacing: .05em;
    }
}
.footer-nav__item:nth-child(2) a
{
    position: relative;
}
.footer-nav__item:nth-child(2) a::before,
.footer-nav__item:nth-child(2) a::after
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1333333333;

    position: absolute;
    top: 50%;

    content: '|';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    letter-spacing: .05em;

    color: #3d3d3d;
}
.footer-nav__item:nth-child(2) a::before
{
    left: -3px;
}
.footer-nav__item:nth-child(2) a::after
{
    right: -3px;
}

/* header */
.header
{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;

    background: #fff;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .24);
    box-shadow: 0 0 5px rgba(0, 0, 0, .24);
}
@media screen and (min-width: 768px)
{
    .header
    {
        height: 100px;
    }
}
@media (min-width: 1300px)
{
    .header
    {
        height: 140px;
    }
}
.header__inner
{
    position: relative;

    display: -webkit-box;

    display: -webkit-flex;

    display: -ms-flexbox;

    display: flex;

    width: 1920px;
    max-width: 100%;
    margin: 0 auto;
    padding: .7rem 1rem .7rem 2rem;

    -webkit-box-align: center;

    -webkit-align-items: center;

    -ms-flex-align: center;

    align-items: center;
}
@media screen and (min-width: 768px)
{
    .header__inner
    {
        padding: 1.55rem 4rem;
    }
}
@media (min-width: 1300px)
{
    .header__inner
    {
        padding: 3.55rem 4.6rem 3.55rem 8.2rem;

        -webkit-box-align: end;

        -webkit-align-items: flex-end;

        -ms-flex-align: end;

        align-items: flex-end;
    }
}
.header__inner--sp
{
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
@media screen and (min-width: 768px)
{
    .header__inner--sp
    {
        display: none;
    }
}
.header__tit
{
    max-width: 132px;
    margin-right: 5.8rem;
}
@media screen and (max-width: 767px)
{
    .header__tit
    {
        max-width: 70px;
    }
}
.header__tit img
{
    display: block;
}
.header-nav
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    width: 100%;

    -webkit-box-pack: end;

    -webkit-justify-content: flex-end;

    -ms-flex-pack: end;

    justify-content: flex-end;
}
@media (min-width: 1300px)
{
    .header-nav
    {
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }
}
.header-nav__list--left,
.header-nav__list--right
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-align: center;

    -webkit-align-items: center;

    -ms-flex-align: center;

    align-items: center;
}
@media (max-width: 1299px)
{
    .header-nav__list--left
    {
        display: none;
    }
}
@media (max-width: 1299px)
{
    .header-nav__list--right
    {
        padding-right: 5rem;
    }
}
.header-nav__item--left
{
    margin-right: 1.7rem;
}
.header-nav__item--left a
{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1333333333;

    position: relative;

    padding: .5rem;
    padding-left: 2.8rem;

    letter-spacing: .05em;
}
.header-nav__item--left a::before
{
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.header-nav__item--left:first-child a::before
{
    width: 22px;
    height: 18px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/category_ico.svg) center/contain no-repeat;
}
.header-nav__item--left:nth-child(2) a::before
{
    width: 22px;
    height: 20px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/shop_ico.svg) center/contain no-repeat;
}
.header-nav__item--search
{
    position: relative;

    padding-left: 2.8rem;
}
.header-nav__item--search input
{
    width: 255px;
}
.header-nav__item--search::before
{
    position: absolute;
    top: 50%;
    left: 0;

    display: block;

    width: 20px;
    height: 20px;

    content: '';
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);

    background: url(https://gigaplus.makeshop.jp/hottec/module/search_ico.svg) center/contain no-repeat;
}
.header-nav__item--right a
{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.1333333333;

    padding: .5rem;

    letter-spacing: .05em;
}
@media (min-width: 1300px)
{
    .header-nav__item--right a
    {
        position: relative;

        padding-left: 3.8rem;
    }
}
.header-nav__item--right a::before
{
    display: block;

    content: '';
}
@media (min-width: 1300px)
{
    .header-nav__item--right a::before
    {
        position: absolute;
        top: 50%;
        left: 0;

        -webkit-transform: translateY(-50%);

        transform: translateY(-50%);
    }
}
@media (max-width: 1299px)
{
    .header-nav__item--right a span
    {
        display: none;
    }
}
.header-nav__item--right:first-child
{
    margin-right: 1.7rem;
}
@media screen and (max-width: 767px)
{
    .header-nav__item--right:first-child
    {
        margin-right: .6rem;
    }
}
.header-nav__item--right:first-child a::before
{
    width: 34px;
    height: 34px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/login_ico.svg) center/contain no-repeat;
}
@media screen and (max-width: 767px)
{
    .header-nav__item--right:first-child a::before
    {
        width: 26px;
        height: 26px;
    }
}
.header-nav__item--right:nth-child(2) a::before
{
    width: 32px;
    height: 31px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/cart_ico.svg) center/contain no-repeat;
}
@media screen and (max-width: 767px)
{
    .header-nav__item--right:nth-child(2) a::before
    {
        width: 24px;
        height: 24px;
    }
}
.header-nav-sp__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.header-nav-sp__item
{
    width: 33.3333%;
}
.header-nav-sp__item:first-child a::before
{
    width: 16px;
    height: 16px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/search_ico.svg) center/contain no-repeat;
}
.header-nav-sp__item:nth-child(2)
{
    border-right: 1px solid #d6d6d6;
    border-left: 1px solid #d6d6d6;
}
.header-nav-sp__item:nth-child(2) a::before
{
    width: 20px;
    height: 17px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/category_ico.svg) center/contain no-repeat;
}
.header-nav-sp__item:last-child a::before
{
    width: 19px;
    height: 17px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/shop_ico.svg) center/contain no-repeat;
}
.header-nav-sp__item a
{
    font-size: 12px;
    font-weight: 500;
    line-height: 1.4166666667;

    position: relative;

    padding: 2.9rem .5rem .2rem;

    letter-spacing: 0;
}
@media (max-width: 374px)
{
    .header-nav-sp__item a
    {
        font-size: 10px;
        font-weight: 500;
        line-height: 1.7;

        letter-spacing: 0;
    }
}
.header-nav-sp__item a::before
{
    position: absolute;
    top: 35%;
    left: 50%;

    display: block;

    content: '';
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.header__guide
{
    position: absolute;
    top: 20px;
    right: 4.6rem;
}
@media (max-width: 1299px)
{
    .header__guide
    {
        display: none;
    }
}
.header__guide a
{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1333333333;

    padding: .5rem;

    letter-spacing: .05em;
}

/* header */
.pickup
{
    margin-bottom: 7.7rem;
}
@media screen and (max-width: 767px)
{
    .pickup
    {
        overflow-x: hidden;

        margin-bottom: 4rem;
    }
}
.pickup__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin: 4rem auto;

    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
}
@media screen and (max-width: 767px)
{
    .pickup__list
    {
        margin: 2rem auto 2.8rem;
    }
}
@media screen and (max-width: 767px)
{
    .pickup__wrap
    {
        width: calc(53% - .7rem);
        margin-left: .7rem;
    }
}
@media screen and (max-width: 767px)
{
    .pickup__img
    {
        position: relative;

        width: 47%;
    }
    .pickup__img img
    {
        position: absolute;
        top: 0;
        left: 0;

        height: 100%;

        -o-object-fit: cover;

        object-fit: cover;
    }
}
.pickup__item
{
    width: calc(33.3333% - 5rem);
}
@media screen and (max-width: 767px)
{
    .pickup__item
    {
        width: 100%;
    }
}
@media screen and (max-width: 767px)
{
    .pickup__item:first-child
    {
        padding-bottom: 2rem;
    }
}
@media screen and (min-width: 768px)
{
    .pickup__item:not(:last-child)
    {
        margin-right: 7.5rem;
    }
}
@media screen and (max-width: 767px)
{
    .pickup__item:last-child
    {
        padding-top: 2rem;
    }
}
.pickup__item:nth-child(2)
{
    position: relative;
}
@media screen and (max-width: 767px)
{
    .pickup__item:nth-child(2)
    {
        padding: 2rem 0;
    }
}
.pickup__item:nth-child(2)::before,
.pickup__item:nth-child(2)::after
{
    position: absolute;

    display: block;

    width: 200vw;
    height: 1px;

    content: '';

    background: #cecece;
}
@media screen and (max-width: 767px)
{
    .pickup__item:nth-child(2)::before,
    .pickup__item:nth-child(2)::after
    {
        left: -50%;
    }
}
@media screen and (min-width: 768px)
{
    .pickup__item:nth-child(2)::before,
    .pickup__item:nth-child(2)::after
    {
        top: 50%;

        width: 1px;
        height: 100%;

        -webkit-transform: translateY(-50%);

        transform: translateY(-50%);
    }
}
@media screen and (max-width: 767px)
{
    .pickup__item:nth-child(2)::before
    {
        top: 0;
    }
}
@media screen and (min-width: 768px)
{
    .pickup__item:nth-child(2)::before
    {
        left: -3.7rem;
    }
}
@media screen and (max-width: 767px)
{
    .pickup__item:nth-child(2)::after
    {
        bottom: 0;
    }
}
@media screen and (min-width: 768px)
{
    .pickup__item:nth-child(2)::after
    {
        right: -3.7rem;
    }
}
@media screen and (max-width: 767px)
{
    .pickup__item a
    {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
    }
}
.pickup__tit
{
    margin: .6rem auto;
}
@media screen and (max-width: 767px)
{
    .pickup__tit
    {
        margin: 0 auto .6rem;
    }
}
@media (max-width: 1200px)
{
    .pickup__tit span
    {
        display: block;

        width: 100%;
    }
}
.pickup__tit span:first-child
{
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4166666667;

    letter-spacing: 0;

    color: #f70;
}
@media screen and (min-width: 768px)
{
    .pickup__tit span:first-child
    {
        margin-right: 1.4rem;
    }
}
@media (max-width: 1200px)
{
    .pickup__tit span:first-child
    {
        margin-bottom: .5rem;
    }
}
@media screen and (max-width: 767px)
{
    .pickup__tit span:first-child
    {
        font-size: 11px;
        font-weight: 400;
        line-height: 1.5454545455;

        margin-bottom: 0;

        letter-spacing: 0;
    }
}
.pickup__tit span:last-child
{
    font-size: 20px;
    font-weight: 700;
    line-height: .85;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .pickup__tit span:last-child
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2142857143;

        letter-spacing: .05em;
    }
}
.pickup__txt
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4666666667;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .pickup__txt
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3846153846;

        letter-spacing: .05em;
    }
}
@media (max-width: 374px)
{
    .pickup__txt
    {
        font-size: 11px;
        font-weight: 400;
        line-height: 1.6363636364;

        letter-spacing: .05em;
    }
}
.pickup__link a
{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1333333333;

    width: 25rem;
    margin: 0 auto;
    padding: 1.4rem 1rem 1.201rem;

    letter-spacing: 0;

    border: 1px #3d3d3d solid;
    border-radius: 3px;
}
@media screen and (max-width: 767px)
{
    .pickup__link a
    {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.3076923077;

        width: 23rem;
        padding: 1.1rem 1rem 1.001rem;

        letter-spacing: 0;
    }
}

.product
{
    margin-bottom: 7.7em;
}
@media screen and (max-width: 767px)
{
    .product
    {
        margin-bottom: 1.81em;
    }
}
.product_category
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    margin-bottom: 4em;
    padding: 1em 0;

    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;

    -webkit-box-pack: center;

    -webkit-justify-content: center;

    -ms-flex-pack: center;

    justify-content: center;
    -webkit-column-gap: 15px;
    -moz-column-gap: 15px;
    column-gap: 15px;
}
@media screen and (max-width: 767px)
{
    .product_category
    {
        margin-bottom: 1.25em;

        -webkit-column-gap: 3px;

        -moz-column-gap: 3px;

        column-gap: 3px;
    }
}
.product_category_item
{
    font-size: .93em;

    display: inline-block;
}
@media screen and (max-width: 767px)
{
    .product_category_item
    {
        font-size: .81em;
    }
}
.product_list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin-bottom: 3.8em;

    -webkit-column-gap: 42px;

    -moz-column-gap: 42px;

    column-gap: 42px;
    row-gap: 30px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
@media screen and (max-width: 767px)
{
    .product_list
    {
        -webkit-column-gap: 25px;
        -moz-column-gap: 25px;
        column-gap: 25px;
        row-gap: 21px;
    }
}
.product_item
{
    width: calc((100% - 84px) / 3);
}
@media screen and (max-width: 767px)
{
    .product_item
    {
        width: calc((100% - 26px) / 2);
    }
}
.product_img
{
    margin-bottom: .9em;

    border-radius: 6px;
}
.product_img img
{
    -o-object-fit: cover;
    object-fit: cover;
    aspect-ratio: 1/1;
}
.product_content .ttl
{
    font-size: .93em;

    margin-bottom: .9em;
}
.product_content .price
{
    font-size: .93em;
    font-weight: bold;
}

.pagination
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;

    text-align: center;

    -webkit-column-gap: 20px;

    -moz-column-gap: 20px;

    column-gap: 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
@media screen and (max-width: 767px)
{
    .pagination
    {
        margin-bottom: 2.43em;
    }
}
.pagination_item
{
    font-size: 1.04em;
    font-weight: bold;
    line-height: 42px;

    display: inline-block;

    width: 42px;
    height: 42px;

    border: 1px solid #707070;
    border-radius: 50%;
}
@media screen and (max-width: 767px)
{
    .pagination_item
    {
        font-size: .81em;
        line-height: 29px;

        width: 29px;
        height: 29px;
    }
}
.pagination_item.selected
{
    color: #fff;
    background: #3d3d3d;
}
.pagination_item.dott
{
    border: none;
}

.categories_search
{
    display: none;

    padding: 2em 0 1.75em;

    text-align: center;

    background: #f5f3f2;
}
@media screen and (max-width: 767px)
{
    .categories_search
    {
        display: block;
    }
}
.categories_search p
{
    font-size: .93em;
    font-weight: bold;

    margin-bottom: 1em;
}
.categories_search .select
{
    position: relative;

    width: 230px;
    margin: auto;
}
.categories_search .select::after
{
    position: absolute;
    top: 10px;
    right: 10px;

    width: 10px;
    height: 10px;

    content: '▼';
    pointer-events: none;
}
.categories_search select
{
    display: inline-block;

    width: 230px;
    height: 40px;

    -webkit-appearance: none;

    -moz-appearance: none;

    appearance: none;
}
.categories_search option
{
    font-size: .8em;

    text-align: center;
}

.ranking
{
    margin-bottom: 8rem;
}
@media screen and (max-width: 767px)
{
    .ranking
    {
        margin-bottom: 4.6rem;
    }
}
.ranking__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    max-width: 950px;
    margin: 0 auto;
}
.ranking__item
{
    position: relative;

    width: calc(33.3333% - 2.8666666667rem);
}
@media screen and (max-width: 767px)
{
    .ranking__item
    {
        width: calc(33.3333% - .8666666667rem);
    }
}
.ranking__item:not(:last-child)
{
    margin-right: 4.3rem;
}
@media screen and (max-width: 767px)
{
    .ranking__item:not(:last-child)
    {
        margin-right: 1.3rem;
    }
}
.ranking__item::after
{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.1333333333;

    position: absolute;
    top: -18px;
    left: 5%;

    width: 37px;
    height: 37px;
    padding-top: .85rem;

    text-align: center;
    letter-spacing: .05em;

    border: 1px solid #707070;
    border-radius: 50%;
    background: #fff;
}
@media screen and (max-width: 767px)
{
    .ranking__item::after
    {
        font-size: 8px;
        font-weight: 700;
        line-height: 1.125;

        top: -11px;

        width: 23px;
        height: 23px;
        padding-top: .5rem;

        letter-spacing: .05em;
    }
}
.ranking__item:first-child::after
{
    content: '1';
}
.ranking__item:nth-child(2)::after
{
    content: '2';
}
.ranking__item:last-child::after
{
    content: '3';
}
.ranking__img
{
    border-radius: 6px;
}
.ranking__txt--name
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1333333333;

    margin: 1rem auto;

    letter-spacing: 0;
}
@media screen and (max-width: 767px)
{
    .ranking__txt--name
    {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4166666667;

        overflow: hidden;

        margin: .8rem auto .5rem;

        white-space: nowrap;
        letter-spacing: 0;
        text-overflow: ellipsis;
    }
}
.ranking__txt--price
{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.1333333333;

    letter-spacing: 0;
}
@media screen and (max-width: 767px)
{
    .ranking__txt--price
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2142857143;

        letter-spacing: 0;
    }
}
@media (max-width: 374px)
{
    .ranking__txt--price
    {
        font-size: 11px;
        font-weight: 700;
        line-height: 1.5454545455;

        letter-spacing: 0;
    }
}
.ranking__radio
{
    position: absolute;
    top: 0;
    left: 0;

    opacity: 0;
}
.ranking__radio + span
{
    font-size: 15px;
    font-weight: 500;
    line-height: 1.1333333333;

    display: inline-block;

    width: 100%;
    padding: .6rem 1.2rem;

    cursor: pointer;
    -webkit-transition: .3s background-color ease, .3s color ease;
    transition: .3s background-color ease, .3s color ease;
    letter-spacing: .05em;

    border: 1px solid #3d3d3d;
    border-radius: 120px;
}
@media screen and (max-width: 767px)
{
    .ranking__radio + span
    {
        font-size: 13px;
        font-weight: 500;
        line-height: 1.3076923077;

        letter-spacing: .05em;
    }
}
.ranking__radio:checked + span
{
    color: #fff;
    background-color: #3d3d3d;
}
.ranking-category__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow-x: auto !important;

    max-width: 1130px;
    margin: 4rem auto 5.8rem;

    -ms-overflow-style: none;
    /* IE, Edge */
    scrollbar-width: none;
    /* Firefox */
}
.ranking-category__list::-webkit-scrollbar
{
    /* Chrome, Safari */
    display: none;
}
@media screen and (max-width: 767px)
{
    .ranking-category__list
    {
        margin: 2rem auto 2.7rem;
    }
}
.ranking-category__item
{
    width: calc(16.667% - .8333333333rem);
    min-width: 150px;
}
@media screen and (min-width: 768px)
{
    .ranking-category__item
    {
        min-width: 170px;
    }
}
.ranking-category__item:not(:last-of-type)
{
    margin-right: 1rem;
}

.recently
{
    margin-bottom: 7rem;
}
@media screen and (max-width: 767px)
{
    .recently
    {
        margin-bottom: 2rem;
    }
}
.recently__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
}
.recently__item
{
    width: calc(25% - 3rem);
}
@media screen and (max-width: 767px)
{
    .recently__item
    {
        width: calc(50% - 1.25rem);
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 768px)
{
    .recently__item:not(:last-child)
    {
        margin-right: 4rem;
    }
}
@media screen and (max-width: 767px)
{
    .recently__item:not(:nth-child(2n))
    {
        margin-right: 2.5rem;
    }
}
.recently__img
{
    border-radius: 6px;
}
.recently__tit
{
    font-size: 30px;
    font-weight: 700;
    line-height: .5666666667;

    margin-bottom: 4.5rem;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .recently__tit
    {
        font-size: 18px;
        font-weight: 700;
        line-height: .9444444444;

        margin-bottom: 2.5rem;

        letter-spacing: .05em;
    }
}
.recently__txt--name
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1333333333;

    margin: 1rem auto;

    letter-spacing: 0;
}
@media screen and (max-width: 767px)
{
    .recently__txt--name
    {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.4166666667;

        overflow: hidden;

        margin: .8rem auto .5rem;

        white-space: nowrap;
        letter-spacing: 0;
        text-overflow: ellipsis;
    }
}
.recently__txt--price
{
    font-size: 15px;
    font-weight: 700;
    line-height: 1.1333333333;

    letter-spacing: 0;
}
@media screen and (max-width: 767px)
{
    .recently__txt--price
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2142857143;

        letter-spacing: 0;
    }
}

/* sub */
.guide
{
    padding-top: 5.7rem;
}
@media screen and (max-width: 767px)
{
    .guide
    {
        padding-top: 3rem;
    }
}

.guide__title
{
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1;

    margin-bottom: 2rem;

    color: #3d3d3d;
}
@media screen and (max-width: 767px)
{
    .guide__title
    {
        font-size: 2rem;

        margin-bottom: 1rem;
    }
}

.guide__breadcrumbs
{
    margin-bottom: 7.4rem;
}
@media screen and (max-width: 767px)
{
    .guide__breadcrumbs
    {
        margin-bottom: 4rem;
    }
}

.guide__list
{
    margin-bottom: 8.5rem;
}
@media screen and (max-width: 767px)
{
    .guide__list
    {
        margin-bottom: 6rem;
    }
}

/* sub */
