@charset "Shift_JIS";

/* top */
.category
{
    padding: 6rem 0 4rem;

    background: #f9f9f9;
}
@media screen and (max-width: 767px)
{
    .category
    {
        padding: 4.7rem 0 4rem;
    }
}
.category__list
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin-top: 4rem;

    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
}
@media screen and (max-width: 767px)
{
    .category__list
    {
        margin-top: 2.3rem;
    }
}
.category__item
{
    width: calc(50% - .8666666667rem);
    margin-bottom: 1.5rem;
}
@media (min-width: 1000px)
{
    .category__item
    {
        width: calc(33.3333% - 2rem);
        margin-bottom: 3rem;
    }
}
@media (max-width: 999px)
{
    .category__item:not(:nth-child(2n))
    {
        margin-right: 1.3rem;
    }
}
@media (min-width: 1000px)
{
    .category__item:not(:nth-child(3n))
    {
        margin-right: 3rem;
    }
}
@media (max-width: 999px)
{
    .category__item:nth-child(2n+1):nth-last-child(-n+2),
    .category__item:nth-child(2n+1):nth-last-child(-n+2) ~ .category__item
    {
        margin-bottom: 0;
    }
}
@media (min-width: 1000px)
{
    .category__item:nth-child(3n+1):nth-last-child(-n+3),
    .category__item:nth-child(3n+1):nth-last-child(-n+3) ~ .category__item
    {
        margin-bottom: 0;
    }
}
.category__item a
{
    position: relative;
}
.category__tit
{
    font-size: 28px;
    font-weight: 500;
    line-height: .6071428571;

    position: absolute;
    top: 50%;
    left: 50%;

    padding-top: 3rem;

    -webkit-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);
    white-space: nowrap;
    letter-spacing: 0;

    color: #fff;
}
@media screen and (max-width: 767px)
{
    .category__tit
    {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.1333333333;

        letter-spacing: 0;
    }
}
.category__tit::after
{
    position: absolute;
    top: -28px;
    left: 50%;

    display: block;

    content: '';
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
@media screen and (max-width: 767px)
{
    .category__tit::after
    {
        top: 0;
    }
}
.category__tit._fashion::after
{
    width: 35px;
    height: 48px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/fashion_ico.svg) center/contain no-repeat;
}
@media screen and (max-width: 767px)
{
    .category__tit._fashion::after
    {
        width: 17px;
        height: 24px;
    }
}
.category__tit._health::after
{
    top: -20px;

    width: 49px;
    height: 31px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/health_ico.svg) center/contain no-repeat;
}
@media screen and (max-width: 767px)
{
    .category__tit._health::after
    {
        top: 5px;

        width: 28px;
        height: 18px;
    }
}
.category__tit._hobby::after
{
    width: 20px;
    height: 38px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/hobby_ico.svg) center/contain no-repeat;
}
@media screen and (max-width: 767px)
{
    .category__tit._hobby::after
    {
        width: 12px;
        height: 23px;
    }
}
.category__tit._gourmand::after
{
    top: -20px;

    width: 46px;
    height: 38px;

    background: url(https://gigaplus.makeshop.jp/hottec/module/gourmand_ico.svg) center/contain no-repeat;
}
@media screen and (max-width: 767px)
{
    .category__tit._gourmand::after
    {
        top: 2px;

        width: 18px;
        height: 22px;
    }
}

.info
{
    margin: 10rem auto;
}
@media screen and (max-width: 767px)
{
    .info
    {
        overflow-x: hidden;

        margin: 4.6rem auto;
    }
}
.info__inner
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-box-pack: justify;

    -webkit-justify-content: space-between;

    -ms-flex-pack: justify;

    justify-content: space-between;
}
@media screen and (max-width: 767px)
{
    .info__inner
    {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}
.info__container
{
    width: 50%;
}
@media screen and (max-width: 767px)
{
    .info__container
    {
        width: 100%;
    }
}
.info__container:first-child
{
    position: relative;
}
@media screen and (min-width: 768px)
{
    .info__container:first-child
    {
        margin-top: 2.3rem;
    }
}
@media screen and (max-width: 767px)
{
    .info__container:first-child
    {
        padding-bottom: 4rem;
    }
}
.info__container:first-child::after
{
    position: absolute;
    bottom: 0;
    left: -50%;

    display: block;

    width: 200vw;
    height: 1px;

    content: '';

    background: #cecece;
}
@media screen and (min-width: 768px)
{
    .info__container:first-child::after
    {
        top: 40%;
        right: 0;
        left: unset;

        width: 1px;
        height: 311px;

        -webkit-transform: translateY(-50%);

        transform: translateY(-50%);
    }
}
@media screen and (max-width: 767px)
{
    .info__container:last-child
    {
        padding-top: 4rem;
    }
}
@media screen and (min-width: 768px)
{
    .info__container:last-child
    {
        max-width: 546px;
        margin-left: 3rem;
    }
}
@media (min-width: 1300px)
{
    .info__container:last-child
    {
        margin-left: auto;
    }
}
.info__tit
{
    font-size: 30px;
    font-weight: 700;
    line-height: .5666666667;

    margin-bottom: 2.8rem;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .info__tit
    {
        font-size: 18px;
        font-weight: 700;
        line-height: .9444444444;

        margin-bottom: 2rem;

        text-align: center;
        letter-spacing: .05em;
    }
}
.info__txt
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4666666667;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .info__txt
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.5384615385;

        letter-spacing: .05em;
    }
}
.info__link
{
    font-family: 'メイリオ', meiryo, 'Yu Gothic', '游ゴシック体', yugothic, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro', 'MS Pゴシック', 'MS PGothic', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1333333333;

    padding: .5rem 0;

    letter-spacing: 0;
}
@media screen and (max-width: 767px)
{
    .info__link
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3076923077;

        letter-spacing: 0;
    }
}
.info__link time
{
    margin-right: 1rem;
}
.info__link:not(:last-child)
{
    margin-bottom: 2.7rem;
}
@media screen and (max-width: 767px)
{
    .info__link:not(:last-child)
    {
        margin-bottom: 1rem;
    }
}

.mv
{
    margin-bottom: 9.2rem;
}
@media screen and (max-width: 767px)
{
    .mv
    {
        margin-bottom: 4.5rem;
    }
}
.mv .bx-wrapper
{
    overflow: hidden;

    margin-top: 48px;

    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
@media screen and (max-width: 767px)
{
    .mv .bx-wrapper
    {
        margin-bottom: 0;
    }
}
.mv .bx-viewport
{
    overflow: visible !important;

    max-width: 1100px !important;
    margin: 0 auto;
}
.mv .bx-wrapper li img
{
    height: 515px;
    padding: 0 5px;

    -o-object-fit: cover;

    object-fit: cover;
}
.mv .bx-wrapper .bx-pager
{
    position: inherit !important;

    color: transparent !important;
}
.mv .bx-prev
{
    width: 0 !important;
    height: 0 !important;

    border-width: 7px 7px 7px 0;
    border-style: solid;
    border-color: transparent #d2d2d2 transparent transparent;
    background: none !important;
}
.mv .bx-prev:hover
{
    border-color: transparent #2f2f2f transparent transparent;
}
.mv .bx-next
{
    width: 0 !important;
    height: 0 !important;

    border-width: 7px 0 7px 7px;
    border-style: solid;
    border-color: transparent transparent transparent #d2d2d2;
    background: none !important;
}
.mv .bx-next:hover
{
    border-color: transparent transparent transparent #2f2f2f;
}
.mv .bx-wrapper .bx-pager
{
    position: inherit;
}
.mv .bx-wrapper .bx-pager.bx-default-pager a
{
    width: 12px !important;
    height: 12px !important;
    margin: 0 8px;

    border-radius: 50% !important;
    background: #c0b9af !important;
}
.mv .bx-wrapper .bx-pager.bx-default-pager a.active,
.mv .bx-wrapper .bx-pager.bx-default-pager a:focus,
.mv .bx-wrapper .bx-pager.bx-default-pager a:hover
{
    background: #f70 !important;
}
@media screen and (max-width: 768px)
{
    .mv .bx-viewport
    {
        width: 100% !important;
    }
    .mv .bx-wrapper li img
    {
        height: 85.5vw;
        padding: 0;
    }
    .mv .bx-prev
    {
        display: none;
    }
    .mv .bx-next
    {
        display: none;
    }
    .mv .bx-wrapper .bx-pager
    {
        padding-top: 1rem;
    }
    .mv .bx-wrapper .bx-pager.bx-default-pager a
    {
        width: 11px !important;
        height: 11px !important;
    }
}

.recommend
{
    position: relative;

    margin-bottom: 8rem;
    padding: 4rem 0 3rem;
}
@media screen and (max-width: 767px)
{
    .recommend
    {
        margin-bottom: 4rem;
        padding: 4.7rem 0 2.5rem;
    }
}
.recommend::after
{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;

    display: block;

    width: 90%;
    max-width: 1443px;
    height: 100%;

    content: '';
    text-align: center;

    background: #f9f9f9;
}
@media screen and (max-width: 767px)
{
    .recommend::after
    {
        width: 100%;
    }
}
.recommend__list--top
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    margin: 3rem auto 4rem;

    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
}
@media screen and (max-width: 767px)
{
    .recommend__list--top
    {
        margin: 2rem auto;
    }
}
.recommend__list--bottom
{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -webkit-flex-wrap: wrap;

    -ms-flex-wrap: wrap;

    flex-wrap: wrap;
}
.recommend__item--top
{
    width: calc(50% - 2rem);
}
@media screen and (max-width: 767px)
{
    .recommend__item--top
    {
        width: 100%;
    }
}
@media screen and (max-width: 767px)
{
    .recommend__item--top:not(:last-child)
    {
        margin-bottom: 2rem;
    }
}
@media screen and (min-width: 768px)
{
    .recommend__item--top:not(:last-child)
    {
        margin-right: 4rem;
    }
}
.recommend__item--bottom
{
    width: calc(25% - 3rem);
}
@media screen and (max-width: 767px)
{
    .recommend__item--bottom
    {
        width: calc(50% - .75rem);
        margin-bottom: 1.5rem;
    }
}
@media screen and (min-width: 768px)
{
    .recommend__item--bottom:not(:last-child)
    {
        margin-right: 4rem;
    }
}
@media screen and (max-width: 767px)
{
    .recommend__item--bottom:not(:nth-child(2n))
    {
        margin-right: 1.5rem;
    }
}
.recommend__tit
{
    font-size: 20px;
    font-weight: 700;
    line-height: 1;

    margin: .8rem auto;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .recommend__tit
    {
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2142857143;

        margin: .5rem auto;

        letter-spacing: .05em;
    }
}
.recommend__txt
{
    font-size: 15px;
    font-weight: 400;
    line-height: 1.1333333333;

    letter-spacing: .05em;
}
@media screen and (max-width: 767px)
{
    .recommend__txt
    {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.3076923077;

        letter-spacing: .05em;
    }
}

/* top */
